<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods"> 
  <test thread-count="2" name="Test">
    <classes>
      <class name="com.qa.amazonTest.AmazonTestHomePage"/>
      <class name="com.qa.amazonTest.AmazonTestCartPage"/>
      <class name="com.qa.amazonTest.AmazonTestPDPage"/>
      <class name="com.qa.amazonTest.AmazonTestPLPage"/>
      <!-- <class name="com.qa.amazonTest.AmazonTestLoginPage"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->